body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(20, 33, 61, 1);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  #EnrlDiv, #MrkAttnDiv{
    width: 360px;
    height: 200px;
    border: 1px rgb(0, 0, 0) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgba(252, 163, 17, 1);
    font-weight: bold;
    cursor: pointer;

  }

  .beginSection{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    height: 100vh;
  }

  .begin_a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }